<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" href="/static/options.css">
</head>
<body>
    <header>
        <nav>
            <p>OPTIONS</p>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('options') }}" method="post">
            <button type="submit" name="submit" value="Predict">Predict</button>
            
        
        <a href="{{ url_for('logout') }}">Logout</a>
    </main>
    
</body>
</html>
